# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de ambiente
.env

# Ignorar arquivos de build
dist/
build/

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de configuração do IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar arquivos temporários
*.tmp
*.temp
