body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0b0e13, #2c2f35, #0b0e13, #2c2f35);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.container {
  position: relative;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 1;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  animation: fadeInOut 6s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.controls {
  margin-bottom: 20px;
}

.control-icon {
  font-size: 30px;
  color: #464a51;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
  margin: 0 15px;
}

.control-icon:hover {
  color: #1ed760;
  transform: scale(1.1);
}

.current-track {
  font-size: 18px;
}

.volume-slider {
  -webkit-appearance: none;
  width: 150px;
  height: 8px;
  background: #888;
  border-radius: 10px;
  outline: none;
  margin: 0 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: relative;
}

.volume-slider::-webkit-slider-runnable-track {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, transform 0.3s ease;
}

.volume-slider::-webkit-slider-thumb:hover,
.volume-slider::-webkit-slider-thumb:active {
  background: #fff;
}

.volume-slider:hover::-webkit-slider-runnable-track {
  background: #1ed760;
}

.volume-slider::-moz-range-track {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.volume-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, transform 0.3s ease;
}

.volume-slider::-moz-range-thumb:hover {
  background: #fff;
}

.volume-slider:hover::-moz-range-track {
  background: #1ed760;
}

.volume-slider::-ms-track {
  background: #888;
  border-radius: 10px;
  border-color: transparent;
  color: transparent;
  transition: background 0.3s ease;
}

.volume-slider::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, transform 0.3s ease;
}

.volume-slider::-ms-thumb:hover {
  background: #fff;
}

.volume-slider:hover::-ms-track {
  background: #1ed760;
}

.volume-controls {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.volume-icon {
  font-size: 24px;
  color: #464a51;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
  margin: 0 10px;
}

.volume-icon:hover {
  color: #1ed760;
  transform: scale(1.1);
}
